<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
   <a class="navbar-brand" href="#">Ember Course App</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="navbarsExampleDefault">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item">{{#link-to 'index' class="nav-link"}}Home{{/link-to}}</li>
       <li class="nav-item">{{#link-to 'about' class="nav-link"}}About{{/link-to}}</li>
       <li class="nav-item">{{#link-to 'services' class="nav-link"}}Services{{/link-to}}</li>
       <li class="nav-item">{{#link-to 'contact' class="nav-link"}}Contact Us{{/link-to}}</li>
       <li class="nav-item">{{#link-to 'events' class="nav-link"}}Events{{/link-to}}</li>
       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
         <div class="dropdown-menu" aria-labelledby="dropdown01">
           <a class="dropdown-item" href="#">Action</a>
           <a class="dropdown-item" href="#">Another action</a>
           <a class="dropdown-item" href="#">Something else here</a>
         </div>
       </li>
     </ul>
     <form class="form-inline my-2 my-lg-0">
       <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
       <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
     </form>
   </div>
 </nav>

 <main role="main" class="container">
   <h2>Welcome to the application layout</h2>
   {{outlet}}
 </main><!-- /.container -->
